@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?q72my');
  src:  url('../assets/fonts/icomoon.eot?q72my#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?q72my') format('truetype'),
    url('../assets/fonts/icomoon.woff?q72my') format('woff'),
    url('../assets/fonts/icomoon.svg?q72my#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin makeIcon($arg, $val) {
   .icon-#{$arg}:before ,
   .ion-ios-icon-#{$arg}:before ,
   .ion-ios-icon-#{$arg}-outline:before ,
   .ion-md-icon-#{$arg}:before ,
   .ion-md-icon-#{$arg}-outline:before {
     content: $val;
     font-size: 26px;
     font-color:red;
   }
 }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@include makeIcon(food-2, '\e900');
@include makeIcon(food-1, '\e901');
@include makeIcon(cup, '\e902');
@include makeIcon(food, '\e903');
@include makeIcon(circle, '\e904');
@include makeIcon(database, '\e964');
